services:

  nextjs:
    build: .
    container_name: nextjs
    ports:
      - "3000:3000"  # Expose to host for direct access
    environment:
      - NODE_ENV=production
    restart: always

  nginx:
    image: nginx:1.25-alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/selfsigned.crt:/etc/nginx/selfsigned.crt
      - ./nginx/selfsigned.key:/etc/nginx/selfsigned.key

    depends_on:
      - nextjs
